<h1 style ="font-size: 3rem; color:cyan;">Jupyter Notebook </h1>

# Basic Calculation samples

### Arithmetic and Geometric Means

In [1]:
x0 = 11
x1 = 12
x2 = 17
x3 = 19

total = x0 + x1 + x2 + x3
product = x0 * x1 * x2 * x3
arith_mean = total / 4
geom_mean = product * 0.25

print("Sum:              " , total)
print("Product:          ", product)
print("Arithmetic mean:  ", arith_mean)
print("Geometric mean:   ", geom_mean)

Sum:               59
Product:           42636
Arithmetic mean:   14.75
Geometric mean:    10659.0

### Calculating Bill

In [2]:
ss_cost = 3.95 * 2
hb_cost = 8.95 * 2
ds_cost = 2.50 * 2

subtotal = ss_cost + hb_cost + ds_cost
tax = subtotal * 0.0475
tip = subtotal * 0.15
total_charge = subtotal + tax + tip

print("2 Side Salads:","$", round(ss_cost, 2), sep="")
print("2 Hamburgers: ", "$", round(hb_cost, 2), sep="")
print("2 Diet Sodas  ", "$", round(ds_cost, 2), sep="")
print("----------------------")
print("Subtotal:     " ,"$", round(subtotal, 2), sep="")
print("tax (4.75%):  " ,"$", round(tax, 2), sep="")
print("Tip (15%):    " ,"$", round(tip, 2), sep="")
print("----------------------")
print("Total Charge: ", "$", round(total_charge, 2), sep="")

2 Side Salads:$7.9
2 Hamburgers: $17.9
2 Diet Sodas  $5.0
----------------------
Subtotal:     $30.8
tax (4.75%):  $1.46
Tip (15%):    $4.62
----------------------
Total Charge: $36.88

### simple intrest

In [3]:
P= 210
i = 0.09
t = 10/12

A = P * ( 1 + i * t)

print("Amount repaid:" , "$" , A ,sep="")

Amount repaid:$225.75

### Compound Interest

In [4]:
P = 400
i = 0.05
t = 3

A = P * (1 + i) ** 3

print("Amount repaid:" , "$" , round(A,2) ,sep="")

Amount repaid:$463.05

### Annuity

In [5]:
PMT = 2000
i = 0.04
n = 18

A = PMT * (1 + i) ** n -1 / i

print("Balance after 18 years:", "$" , round(A,2) ,sep="")

Balance after 18 years:$4026.63

### probability

In [6]:
prob_a = 0.6
prob_b = 0.3

prob_a_and_b = prob_a * prob_b
prob_a_or_b = prob_a + prob_b - prob_a_and_b

print("Probability that both people are late:", prob_a_and_b)
print("Probability that at least one person is late:", prob_a_or_b)

Probability that both people are late: 0.18
Probability that at least one person is late: 0.72

# Lists and Loops

### Sorting and Slicing Lists

In [9]:
import random
random.seed(12)
random_list = random.sample(range(500), 99)

listTotal = sum(random_list[0:99])


print("Length of random_list: 99")
print("First 10 Elements of random_list:", random_list[0:10])

sorted_list = random_list.copy()
sorted_list.sort()


print("First 10 Elements of sorted_list:", sorted_list[0:10])
print("The sum of the elements in random list is", listTotal )


bot_slice = sorted_list[0:33]
mid_slice = sorted_list[34:66]
top_slice = sorted_list[67:99]

botmin = min(bot_slice)
botmax = max(bot_slice)
midmin = min(mid_slice)
midmax = max(mid_slice)
topmin = min(top_slice)
topmax = max(top_slice)


print("The smallest element of bot_slice is", botmin)
print("The largest element of bot_slice is", botmax )
print("The smallest element of mid_slice is" , midmin)
print("The largest element of mid_slice is", midmax )
print("The smallest element of top_slice is", topmin )
print("The largest element of top_slice is", topmax )

Length of random_list: 99
First 10 Elements of random_list: [242, 137, 336, 270, 341, 179, 73, 195, 5, 191]
First 10 Elements of sorted_list: [0, 5, 9, 15, 26, 30, 31, 38, 42, 44]
The sum of the elements in random list is 23739
The smallest element of bot_slice is 0
The largest element of bot_slice is 173
The smallest element of mid_slice is 182
The largest element of mid_slice is 311
The smallest element of top_slice is 319
The largest element of top_slice is 484

### Magnitude of a vector

In [10]:
vector = [11,6,-8,4,-13,2]

total = 0
for i in range(len(vector)):
    total +=vector[i] * vector[i]

mag_v = total ** 0.5

print(mag_v)

20.248456731316587

### Exam Score calculator

In [11]:
correct = ['D','B','C','A','C','D','A','C','C','B','D','A','B','D','C','D','C','D','C','A','B','D','C','B','A']
answers1 = ['A','B','C','A','B','D','A','A','C','B','D','A','D','C','C','B','C','D','B','A','D','D','C','C','A']
answers2 = ['D','A','C','A','B','D','A','C','C','B','D','A','B','D','A','D','C','D','C','A','B','C','C','B','A']

count1 = 0
count2 = 0 

for i in range(0,25):
    if(correct[i] == answers1[i]):
        count1 = count1 + 1
    if(correct[i] == answers2[i]):
        count2 = count2 + 1

grade1 = int ((count1 / 25) * 100)
grade2 = int ((count2 / 25) * 100)

print("Student 1 Grade: "+str(grade1)+"%")
print("Student 2 Grade: "+str(grade2)+"%")

Student 1 Grade: 64%
Student 2 Grade: 84%

### Calculating Price of a Bulk Order

In [12]:
quantities = [84, 100, 126, 150, 186, 200, 216, 248]
cost = 0

for i in range(len(quantities)):
    if quantities[i] <= 100:
        cost = (quantities[i] * 350)
        print("The cost for an order of", (quantities[i]) ,"is $",(cost),".")

    elif quantities[i] >= 100 and quantities[i] <= 200:
        cost = cost + (quantities[i] * 300)
        print("The cost for an order of", (quantities[i]) ,"is $",(cost),".")

    elif quantities[i] >= 200:
        cost = cost + (quantities[i] * 250)
        print("The cost for an order of", (quantities[i]) ,"is $",(cost),".")

The cost for an order of 84 is $ 29400 .
The cost for an order of 100 is $ 35000 .
The cost for an order of 126 is $ 72800 .
The cost for an order of 150 is $ 117800 .
The cost for an order of 186 is $ 173600 .
The cost for an order of 200 is $ 233600 .
The cost for an order of 216 is $ 287600 .
The cost for an order of 248 is $ 349600 .

### Creating an Amortization Schedule

In [13]:
balance = 1000
i = 0.05
pmt = 150
n = 0

while (balance > 0):
    n = n + 1
    balance = balance * (1 + i) - pmt
    if (balance < 0):
        last_pmt = balance + pmt
        print("The amount of the final payment will be $",round(last_pmt,2))
    else:
        print("The balance at the end of year", (n),"is $",round(balance,2))

The balance at the end of year 1 is $ 900.0
The balance at the end of year 2 is $ 795.0
The balance at the end of year 3 is $ 684.75
The balance at the end of year 4 is $ 568.99
The balance at the end of year 5 is $ 447.44
The balance at the end of year 6 is $ 319.81
The balance at the end of year 7 is $ 185.8
The balance at the end of year 8 is $ 45.09
The amount of the final payment will be $ 47.34

### Dot Product

In [14]:
def dot_product(x,y):
    sum = 0
    for n in range(len(x)):
        sum = sum + x[n] * y[n]
    return sum

In [15]:
x = [38, 9, 40, 34, 20, 16, 42, 36, 12, 1, 23, 46, 31, 19, 30, 33, 16, 43, 24, 41]
y = [43, 13, 35, 14, 26, 3, 36, 15, 42, 44, 45, 20, 17, 6, 47, 40, 38, 41, 31, 24]

In [16]:
print("The dot product of v1 and v2 is",(dot_product(x,y)))

The dot product of v1 and v2 is 16220

### Minimum

In [17]:
def minimum(x):
    total = x[0]
    for i in range(1,len(x)):
        if x[i]<total:
            total = x[i]
    return total

In [18]:
list1 = [9.8, 7.4, 5.6, 4.8, 4.8, 5.3, 4.1, 9.6, 5.4]
list2 = [3.4, 7.6, 8.7, 7.5, 9.8, 7.5, 6.7, 8.7, 8.4]
list3 = ['St. Louis', 'Kansas City', 'Chicago', 'Little Rock', 'Omaha']

In [19]:
print(minimum(list1))
print(minimum(list2))
print(minimum(list3))

4.1
3.4
Chicago

### Argmin

In [20]:
def argmin(x):
    if(len(x)==0):
        return None
    else:
        small = x[0]
        index = 0
        for i in range(len(x)):
            if(small>x[i]):
                small = x[i]
                index = 1 
            else:
                continue
        return index

In [21]:
list1 = [9.8, 7.4, 5.6, 4.8, 4.8, 5.3, 4.1, 9.6, 5.4]
list2 = [3.4, 7.6, 8.7, 7.5, 9.8, 7.5, 6.7, 8.7, 8.4]
list3 = ['St. Louis', 'Kansas City', 'Chicago', 'Little Rock', 'Omaha']

In [22]:
print(argmin(list1))
print(argmin(list2))
print(argmin(list3))

1
0
1

### Finding the smallest element

In [23]:
def find_smallest(x, n = None):
    list_copy = x.copy()
    list_copy.sort()
    if n== None:
        return list_copy[0] if len (list_copy) > 0 else None
    else:
        if n > len(list_copy):
            n = len(list_copy)
        return list_copy[0:n]

In [24]:
my_list = [39, 74, 28, 64, 17, 28, 54, 53]

In [25]:
print(find_smallest(my_list))
print(find_smallest(my_list, 1))
print(find_smallest(my_list, 2))
print(find_smallest(my_list, 5))
print(find_smallest(my_list, 12))
print(my_list)

17
[17]
[17, 28]
[17, 28, 28, 39, 53]
[17, 28, 28, 39, 53, 54, 64, 74]
[39, 74, 28, 64, 17, 28, 54, 53]

### Finding unique elements

In [26]:
def unique(mylist):
    total = []
    for i in range(len(mylist)):
        if mylist[i] not in total:
            total.append(mylist[i])
    total.sort()
    return total

In [27]:
int_list = [23, 16, 23, 12, 14, 23, 12, 19, 19]
str_list = ['cat', 'dog', 'dog', 'cat', 'bat', 'frog', 'dog', 'frog']

In [28]:
print(unique(int_list))
print(unique(str_list))

[12, 14, 16, 19, 23]
['bat', 'cat', 'dog', 'frog']

### Weighted means

In [29]:
def mean(values, weights =None):
    if(weights is None):
        return sum(values)/len(values)
    else:
        for i in range(len(values)):
            values[i] = values[i] * weights[i]
        return sum(values)/sum(weights)

In [30]:
values = [4, 7, 3, 5, 2, 6, 8, 2, 4, 8]
weights = [2, 1, 3, 1, 2, 3, 1, 4, 2, 1]

In [31]:
print("Standard Mean: ", mean(values))
print("Weighted Mean: ", mean(values, weights))

Standard Mean:  4.9
Weighted Mean:  4.15

### Argument sort

In [32]:
def argsort(x, reverse=False):
    tuple_list = [(element, index) for index, element in enumerate(x,0)]
    sorted_tuples = sorted(tuple_list, reverse=reverse)
    idx_list = [item[1] for item in sorted_tuples]
    return idx_list

In [33]:
list1 = [76, 81, 30, 47, 50, 18, 23, 49]
print(argsort(list1))

[5, 6, 2, 3, 7, 4, 0, 1]

In [34]:
list2 = ['Chad', 'Beth', 'Emma', 'Alex', 'Drew', 'Fred']
print(argsort(list2))

[3, 1, 0, 4, 2, 5]

### Processing lines of text

In [35]:
def process_line(line,schema,sep):
    tokens = line.split(sep)
    result = []
    for i in range(len(tokens)):
        t = tokens[i]
        dt = schema[i]
        result.append(dt(t))
        return result

In [36]:
test_schema = [int, int, str, str, float]

test_line = '6,174,Blah,Hello World,7.37'

print(process_line(test_line, test_schema, ','))

[6]

### Processing File Input

In [37]:
def read_file_to_list(path,schema,sep):
    with open(path) as f:
        contents = f.read()
        lines = contents.split("\n")
        data = []
        data.append(lines[0].split(sep))
        lines = lines[1:]
        for line in lines:
            data.append(process_line(line,schema,sep))
    return data

In [38]:
my_schema = [str,int,float]
diamond_data = read_file_to_list('diamonds_partial.txt', my_schema, ",")
for i in diamond_data:
    print(i)

FileNotFoundError: [Errno 2] No such file or directory: 'diamonds_partial.txt'

In [39]:
my_schema = [str,int,float]
titanic_data = read_file_to_list('titanic_partial.txt', my_schema, ",")
for i in titanic_data:
    print(i)

FileNotFoundError: [Errno 2] No such file or directory: 'titanic_partial.txt'

### Recursive Product

In [40]:
def recursive_product(x):
    if len(x) == 1:
        return x[0]
    else:
        temp = recursive_product(x[1:])
        return temp * x[0]

In [41]:
factors = [11, 8, 17, 9, 18, 10]
print(recursive_product(factors))

2423520

### Greatest Common Divisor

In [42]:
def gcd(a, b):
    if a < b:
        return gcd(b, a)
    elif b == 0:
        return a
    else:
        return gcd(b, a % b)

In [43]:
print(gcd(72, 300))
print(gcd(180, 210))
print(gcd(20, 400))
print(gcd(30, 77))

12
30
20
1

### Flattening Nested Lists

In [44]:
def flatten(x):
    flat_list = []
    for i in x:
        if type(i) == list:
            flat_list = flat_list + flatten(i)
        else:
            flat_list.append(i) 
    return flat_list

In [45]:
nested_list = [1, 2, 3]
print(flatten(nested_list))

nested_list = [1, [2], [3]]
print(flatten(nested_list))


nested_list = [1, [2], [[4, 5], 6]]
print(flatten(nested_list))


nested_list = [1, [8, [5, 6, [4, 9]]], [7, 2, 3]]
print(flatten(nested_list))

nested_list = [1, [8, [5, 6, [4, 9]]], [7, 2, 3]]
print(flatten(nested_list))

[1, 2, 3]
[1, 2, 3]
[1, 2, 4, 5, 6]
[1, 8, 5, 6, 4, 9, 7, 2, 3]
[1, 8, 5, 6, 4, 9, 7, 2, 3]

### Binary Search

In [46]:
def binary_search(x, item):
    if item < x[0] or item > x[len(x)-1]:
        return False
    mid = int(len(x) / 2)
    if item == x[mid]:
        return True
    elif item < x[mid]:
        return binary_search(x[0:mid], item)
    elif item > x[mid]:
        return binary_search(x[mid+1:], item)

In [47]:
random.seed(1)
random_list_1 = sorted(random.choices(range(100), k=100))

for i in range(0, 10):
    print(i, '-', binary_search(random_list_1, i))

0 - True
1 - False
2 - True
3 - True
4 - True
5 - False
6 - False
7 - False
8 - False
9 - True